<div class="singup">
  <h3>Sign up</h3>
  <div class="form-group">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div id="label"><%= f.label :email %></br>
    <b id="text-field"><%= f.email_field :email, autofocus: true %></b></div>

    <div id="label"><%= f.label :password %></br>
    <b id="text-field"><%= f.password_field :password, autocomplete: "off" %></b></div>


    <div id="label"><%= f.label :password_confirmation %></br>
    <b id="text-field"><%= f.password_field :password_confirmation, autocomplete: "off" %></b></div>

    <div ><%= f.submit "Sign up" , class:"btn btn-danger btn-sm" %></div>
  <% end %>
  </div>
<%= render "devise/shared/links" %>
</div>

