<div id ="planList" class="row">
  <div class="page-header">
    <%= link_to new_plan_path, :class => 'btn btn-default btn-md' do %>
    <span class="glyphicon glyphicon-plus"></span>
      New Plan
    <% end %>
    <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
  <h3>Listing plans</h3>
  <div class="addthis_native_toolbox"></div>
</div>
<div id="plansTable" class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <tbody>
      <%= content_tag_for(:tr, @plans) do |plan| %>

        <td><%= plan.contant %></td>
        <td><%= link_to 'Show', plan %></td>
        <td><%= link_to 'Edit', edit_plan_path(plan) %></td>
        <td>
        <a id="comment-menu" href="#">Comment</a>
        <div id="comment-form">
          <form role="comment" method="get" id="commentform" action="">
            <input type="text" value="" name="c" id="c" />
            <input type="submit" id="commentsubmit" value="Comment" />
          </form>
        </div>
        </td>
        <td><%= link_to 'Destroy', plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
<div>
  <div class="fb-send" data-href="https://developers.facebook.com/docs/plugins/" data-colorscheme="light"></div>
  <%= will_paginate @plans %>
</div>
<script type="text/javascript">
    var commentvisible = 0;
    $("#comment-menu").click(function(e){
        //This stops the page scrolling to the top on a # link.
        e.preventDefault();
        if (commentvisible ===0) {
            //comment is currently hidden. Slide down and show it.
            $("#comment-form").slideDown(100);
            $("#c").focus(); //Set focus on the  input field.
            commentvisible = 1; //Set comment visible flag to visible.
        } else {
            //comment is currently showing. Slide it back up and hide it.
            $("#comment-form").slideUp(100);
            commentvisible = 0;
        }
    });
</script>

<div class="row">
<h3> search for the events </h3>

</div>
